/******************************  CHARACTERS  *******************************/
$character-thumbs-border: 1px solid rgba(0,0,0,.5);
$character-thumb-hover: 1px solid $white;

$character-image-border: 1px solid rgba(0,0,0,.5);

/******************************  PRODUCTION  *******************************/
$production-thumb-selected-border: 1px solid rgba(0, 0, 0, 0.5);

$production-image-border: 1px solid rgba(0,0,0,.5);

/*********************************  CAST  **********************************/
$cast-thumb-selected-border: 1px solid rgba(0, 0, 0, 0.5);

$cast-image-border: 1px solid rgba(0,0,0,.5);

/********************************  VIDEOS  *********************************/

/********************************  PRESS  **********************************/



/*******************************  FOOTER  **********************************/
$footer-border: 1px solid $border-color;
