.mobilemenu{
	background: $mobilemenu-background;
	width: 320px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 6;

	@media #{$mobile-min-break}{
		display: none !important;
	}

	.list{
		text-align: center;
		width: 100%;

		a{
			display: block;
			color: $mobilemenu-color;
			text-transform: uppercase;

			&.highlight{
				color: $mobilemenu-hightlight-color;
			}

			&:hover{
				color: $mobilemenu-color-hover;
			}
		}
	}
}
