.synopsis{
	.main-column {
		.background{
			@media #{$x-small}{
				display: none;
			}
		}

		.videoplayer{
			@media #{$x-small}{
				display: none;
			}
		}

		.main{
			width: 100%;
			height: 100%;
			position: absolute;

			@media #{$x-small}{
				height: auto;
				position: relative;
				padding-top: 30px;
			}

			.content{
				width: $synopsis-width;
				height: 100%;

				@include my-flex;
				@include my-align-items(center,center);
				@include my-justify-content(center,center);

				@media #{$x-small}{
					width: 100%;
				}

				.copy{
					width: $synopsis-width-copy;

					.title-art{
						width: $synopsis-title-art-width;
						margin: $synopsis-title-art-margin;
					}

					.tag-line{
						width: $synopsis-tag-line-width;
						margin: $synopsis-tag-line-margin;

						@media #{$x-small}{
							width: 100%;
							margin-left: auto;
							margin-right: auto;
						}
					}

					p{
						text-align: $synopsis-text-align;
					}
				}
			}
		}
	}
}
