/*******************
FOOTER
*******************/

//-----SIZES-------//
$footer-height: 30px;


$footer-background: $black;

	/*******************
	SOCIAL
	*******************/

	//-----SIZES-------//
	$social-size: 18px;
	$social-size-mobile: 14px;
	$social-margin: 6px 0 5px 0;
	$social-space: 8px;

	//-----COLORS-------//
	$footer-social-color: $med-grey;
	$footer-social-hover-color: #777;
