/*******************
SYNOPSIS
*******************/

//----SIZES--------//
$synopsis-width: 45%;
$synopsis-width-copy: 80%;

	/*******************
	TITLE ART
	*******************/

	//----SIZES--------//
	$synopsis-title-art-width: 70%;
	$synopsis-title-art-margin: auto;

	/*******************
	TAG LINE
	*******************/

	//----SIZES--------//
	$synopsis-tag-line-width: 80%;
	$synopsis-tag-line-margin: 25px auto 30px auto;


	/*******************
	TEXT
	*******************/

	//----FONT--------//
	$synopsis-text-align: justify;
